[submodule "app/Core"]
	path = app/Core
	url = https://github.com/cakephp/cakephp.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/Usermgmt"]
	path = app/Plugin/Usermgmt
	url = https://github.com/arifsanchez/usermanagement_plugin.git
